<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?v=3.8&key=AIzaSyAGOPU51jOErKFuCdT24WxZ85VSz_fUvko&sensor=false"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/smoothness/jquery-ui-1.8.19.custom.css")" rel="Stylesheet" type="text/css" />
    @RenderSection("Scripts", false)
    @RenderSection("styles", false)
</head>
<body>
    <div class="page">
        <div id="header">
        <div id="title">
        <h1>Real Estate Agent</h1>
        </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li><a href="/">Index</a></li>
                    <li><a href="#create" id="create">Create</a></li>
                    <li><a href="#search" id="search">Search</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
         2012 Gökhan Girgin
        </div>
    </div>

</body>
</html>
